.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  padding: 0 10px;
  box-shadow: 2px 0px 5px rgba(235, 235, 235, 0.5);
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin: 20px 0;
  color: #0b0b0b;
  cursor: pointer;
}

.navbar ul li:last-child {
  margin-top: 57vh;
}

.hamburger {
  width: 20px;
  margin-bottom: 8vh;
}

.navbar ul li img {
  width: 30px;
}

.navbar ul li:hover {
  opacity: 0.6;
}
